name: CI Pipeline - Docker Build & Push

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/flask-ecommerce:latest .

      - name: Push Docker image
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/flask-ecommerce:latest

      
      - name: Run container
        run: |
          docker run -d -p 8080:5000 --name test-container \
          ${{ secrets.DOCKERHUB_USERNAME }}/flask-ecommerce:latest
          sleep 5

      - name: Verify application
        run: |
          curl http://localhost:8080

      - name: Cleanup container
        run: |
          docker stop test-container
          docker rm test-container
